body{
    background-color: #e2e8f0; /* Slate */
    color: #004953; /* Eagles Midnight Green */
    font-family:'Space Mono', monospace;
}
h1{
    color: #CE4A1C; /* Wix Orange */
}
h2{
    text-align: center;
}
header{
    background-color:#4FD28A; /*Wix Green*/
    padding: 20px 10px 5px;
}
header h1{
    display: inline-block;
    box-sizing: border-box;
    padding-right: 100px;
    text-align: justify;
}
header nav{
    font-size: x-large;
    display: inline-block;
    box-sizing: border-box;   
 }

header ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
header li{
    display: inline;
    padding: 8px;
}

a{
    color:#004953;
}
a:hover{
    color: #87A96B;
    font-size: 110%;
}

table{
    width:100%;
    margin: auto;
    border-collapse: collapse;
}

td {
    border: 1px solid black;
}

th{
    border: 2px solid black;
    color:#CE4A1C
}

th, td{
    padding: 15px;
}

figure{
    text-align: center;
    border: 5px solid #004953;
    border-radius: 10px;
}

figure em{
    color: #17B169; /* carlsberg Green */
    font-size: 150%;
}

img{
    max-width: 100%;
    height: auto;
}
main div{
    background-color: #4FD28A;
    text-align: center;
}
main{
    margin: 25px 100px;
}
main li{
    margin: 10px;
}

div em{
    font-size: 150%;
}

strong{
    color:#CE4A1C; 
}

hr{
    border: 1px solid #FF4000;
}
/* color: #4FD28A Wix Green */
/* color: #FF4000; Wix Orange */
/* #E25822 flame */
/* color: #87A96B; Asparagus */
/* color: #DADD98; Green Earth */
/* #CE4A1C wix secondary orange */

footer{
	text-align: center;
}

	